<div id="app">
  <ol>
    <li v-for="task in tasks">{{ task }}</li>
<!--     <li>{{ task2 }}</li>
    <li>{{ task3 }}</li> -->

    <p>Task 1<input v-model="task1"></p>
    <p>Task 2<input v-model="task2"></p>
    <p>Task 3<input v-model="task3"></p>
  </ol>
</div>